<html>
    <head>
    </head>

    <body>

        <form action="/create_user" method="post">
            <div>
                <label for="email">Email address</label>
                <input type="email" name="email"></input>
            </div>

            <div>
                <label for="password">Password</label>
                <input type="password" name="password"></input>
            </div>

            <div>
                <input type="submit"></input>
            </div>
        </form>
    </body>

</html>